/* Set the entire body */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    background-color: aqua;
}
/* Set the container for the main content  */
.container{
    width: 80%;
    margin: 0 auto;
    border-top-style: outset;
}
/* Set the position of the timer */
span{
    margin-left: 75%;
}
/* Set all sections that should be centered */
.center-div{
    width: fit-content;
    margin: 2% 25%;
}
/* Set the text alignment of the instruction heading*/
#instruction-div{
    text-align: center;
}
/* Set the summary section to be hiddeden */
#summary{
    display: none;
}
/* Set all buttons */
.button{
    width: auto;
    padding: 1%;
    background-color: rgb(197, 142, 248);
    border-radius: 15%;
    font-weight: bold;
}
/* Set the buttons to behave differently when the mouse hover them */
.button:hover{
    background-color: rgb(198, 240, 121);
    border-style: outset;
}
/* Set the fixed view highscore heading to change its background*/
#viewScore:hover {
    background-color: rgb(81, 230, 113);
    border-style: outset;
}
/* Affect the major div sections to change differently on small screen size*/
@media screen and (max-width: 375px) {
    .container {
        position: absolute;
        width: max-content;

    } 
    .summary-submit, #questions-div{
        position: relative;
        width: 30%;
        margin-left: 0;
        font-size: small;
    }
}
