/* ///////////////commment allllllllllllllllllllll */

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    background-color: aqua;
}
.container{
    width: 80%;
    margin: 0 auto;
    border-top-style: outset;
    
}
span{
    margin-left: 75%;
}
.center-div{
    width: fit-content;
    margin: 2% 25%;
}
#instruction-div{
    text-align: center;
}
#summary{
    display: none;
}

.button{
    width: auto;
    padding: 1%;
    background-color: rgb(197, 142, 248);
    border-radius: 15%;
    font-weight: bold;
}
.button:hover{
    background-color: rgb(198, 240, 121);
    border-style: outset;
}
#viewScore:hover {
    background-color: rgb(81, 230, 113);
    border-style: outset;
}
@media screen and (max-width: 375px) {
    .container {
        position: absolute;
        width: max-content;

    } 
    .summary-submit, #questions-div{
        position: relative;
        width: 30%;
        margin-left: 0;
        font-size: small;
    }
}
